/* -------------------- 共通設定 -------------------- */

/* 全共通部分 */

@font-face {
	font-family: 'Nちはやフォント＋';
	src: url(../font/Nちはやフォント+.ttf);
}

* {
  /* border: solid 1px; */
}
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nちはやフォント＋", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO", sans-serif;
}
a {
  text-decoration: none;
}

/* ヘッダー部分 */
header {
  height: 55px;
  width: 100%;
  background-color: rgba(24, 34, 36, 0.9);
  position :fixed;
  top: 0;
  z-index: 10; /* 重なり */
}
.header_left {
  float: left;
  margin-right: 10%;
}
.logo {
  display: inline-block;
  width: 150px;
  margin-top: 10px;
  margin-left: 15px;
}
.header_right {
  float: right;
  margin-right: 0px;
}
.header_right form {
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}
.header_right a {
  line-height: 55px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header_right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* 内容部分 */
.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.top_wrapper {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}
.top_wrapper > .container > h1 {
  text-align: center;
  font-size: 40px;
  color: rgba(53, 48, 48, 0.8);
}
.button_title {
  text-align: center;
  font-size: 23px;
}
.button {
  width: 150px;
  margin: 25px 0;
  padding: 12px 24px;
  display: inline-block;
  cursor: pointer;
  border: solid 0.5px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  color: #fff;
  /* color: black; */
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  /* background-color: #ffffff;
  border-bottom: 5px solid #a0a0a0c0; */
}
.button:active {
  margin-top: 28px;
  color: #fff;
  /* color: black; */
  background: #f56500;
  border-bottom: 2px solid #b84c00;
  /* background: #f7f7f7ce;
  border-bottom: 2px solid #646464; */
}
.form_text {
  margin: 2px;
  height: 25px;
  border: solid 0.5px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  display: inline-block;
  color: #494949;
}
.submit {
  padding: 3px 15px;
  border: 1px solid #07c;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  text-align: right;
  color: #fff;
  font-size: 12px;
}
.submit:active {  
  outline: none;
  background: linear-gradient(#3b89c5,#0065b8);
}
.button_div {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
}
.error_msg {
  display: block;
  color: red;
  font-size: 13px;
}

/* フッター部分 */
.footer {
  padding: 0 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #f5f5f7;
}
.link {
  font-size: 13px;
}
.footer_logo_a {
  display: inline-block;
  vertical-align: middle;
}
.footer_logo {
  vertical-align: middle;
  color: black;
}
.gt {
  width: 25px;
  vertical-align: middle;
}
.footer p {
  display: inline-block;
}
.source {
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
}
.source a {
  color: #86868b;
  font-size: 20px;
}


/* -------------------- ログインページ -------------------- */
.acount_wrapper {
  height: auto;
  min-height: 100%;
  text-align: center;
}
/* ログインフォーム */
#login_form {
  font-size: 16px;
  animation: SlideIn 1.0s; /* スライドイン */
}
/* 登録フォーム */
#add_form {
  font-size: 16px;
  animation: SlideIn 1.0s; /* スライドイン */
}
.add_form_in {
  text-align: right;
}
/* 登録フォームの年齢選択 */
.div_age, .div_age_baby {
  text-align: right;
  display: inline-block;
  justify-content: flex-end;
}
.div_age > select, .div_age_baby > select {
  width: 120px;
  padding: 2.5px 0px;
  padding-right: 25px;
}
.div_age_baby {
  display: none;
}
/* formのスライドインの設定 */
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------------- アカウント設定ページ -------------------- */
.setting_wrapper {
  height: auto;
  min-height: 100%;
  padding-top: 50px;
}
.row {
  margin: 15px 0;
  padding: 15px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.section_name {
  float: left;
  width: 33%;
  height: 40px;
  display: inline-block;
}
.section_name h2 {
  padding-top: 0;
  margin-top: 0;
}
.row_content {
  width: 40%;
  padding-bottom: 30px;
  display: inline-block;
  font-size: 16px;
}
.row_content p {
  display: inline-block;
}

.button_setting {
  float: right;
  padding: 3px 15px;
  margin-top: 3px;
  border: 1px solid #07c;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  text-align: right;
  color: #fff;
  font-size: 12px;
}
.button_setting:active {  
  outline: none;
  background: linear-gradient(#3b89c5,#0065b8);
}

.change_setting {
  color: #0073d1;
}

/* -------------------- カレンダーページ -------------------- */
.calendar_wrapper {
  height: auto;
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 150px;
  text-align: center;
}
.calendar_top_buttons h2 {
  display: inline-block;
  font-size: 30px;
}
.change_month {
  padding: 0;
  border: 0;
  outline:none;
  background: none;
}
.change_month:active {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
}
/* 前の月 */
.prev_month {
  margin-right: 50px;
}
/* 次の月 */
.next_month {
  margin-left: 50px;
}
.calendar > table {
  display: inline-block;
  font-size: 20px;
}
/* カレンダーのマスの幅と高さ */
.calendar > table > th, td {
  width: 70px;
  height: 70px;
  vertical-align : top;
}
/* カレンダーのマスの中のボタン */
.button_td {
  width: 100%;
  padding-top: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
}
.button_td:disabled {
  color: black;
  pointer-events: none;
}
.button_td:active {
  border-radius: 5px;
  background-color: #cfcfd886;
  /* box-shadow: 1px 1px 1px #aaa; */
}
/* カレンダーの数字のスタイル */
.calendar_td_css {
  width: 22px;
  height: 22px;
  padding: 4px;
  display: inline-block;
}
/* 今日の日付を協調する */
.calendar_today{
  border-radius: 100%;
  background-color: rgb(231, 86, 86);
  color: white;
}
/* カレンダーのマスの中のうんち画像 */
.fa-poo {
  padding-top: 10px;
  color: #e666d5;
}

/* 日付をクリックしたときのポップアップ */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}
.popup.is_show {
  opacity: 1;
  visibility: visible;
}
.popup_inner {
  width: 80%;
  padding: 50px;
  max-width: 600px;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transform: translate(-50%,-50%);
  position: absolute;
  background-color: #fff;
  z-index: 2;
}
.popup_inner_text {
  width: 40%;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
}
/* キャラクター画像のフレーム */
.character_img_frame {
  display: inline-block;
  text-align: center;
}
/* キャラクター画像 */
.character_img {
  pointer-events: none;
  display: inline-block;
	width: 256px;
	height: 256px;
  background-image: url(../img/unchi_character.png);
  background-size: 2048px 2048px;
  background-position: -256px 0px;
}
/* 矢印ボタン */
.popup_arrow {
  cursor: pointer;
  outline:none;
  border-style: none;
  background: none;
}
.popup_arrow:active {
  color: #29d7e7;
}
/* カウンターの文字 */
.popup_count {
  margin: 0 8px;
  margin-top: 14px;
  display: inline-block;
  vertical-align: top;
}
/* バツボタン */
.close_button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.close_button i {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 20px;
  color: #333;
}
.black_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}

.popup_date {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

/* カレンダーの下のボタンたち */
.calendar_bottom_buttons {
  display: flex;
  justify-content: center;
}
/* うんちログボタン */
.calendar_bottom_buttons > a {
  margin: 25px;
}

/* -------------------- キャラクター作成ページ -------------------- */

.character_wrapper {
  height: auto;
  min-height: 100%;
  margin-bottom: 150px;
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
}
.character_wrapper h2 {
  margin-bottom: 30px;
}
/* キャラクタフォーム全体 */
.character_form_inner {
  width: 70%;
  margin: 0;
  padding: 0;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* キャラクターフレーム */
.character_frame {
  width: 256px;
  margin-top: 20%;
  vertical-align: top;
  display: inline-block;
}
/* キャラクターの画像 */
.unchi_character {
  pointer-events: none;
  display: inline-block;
	width: 256px;
	height: 256px;
  background-image: url(../img/unchi_character.png);
  background-size: 2048px 2048px;
  background-position: -256px -768px;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  display: inline-block;
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
}
/*タブのスタイル*/
.tab_item {
  /* width: calc(100%/3); */
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #29d7e7;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #5a5a5a;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}
/*ラジオボタンを全て消す*/
.tabs input {
  display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
  height: 500px;
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}
/*選択されているタブのコンテンツのみを表示*/
#shape:checked ~ #shape_content,
#color:checked ~ #color_content,
#amount:checked ~ #amount_content {
  padding: 0;
  display: flex;
}
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #29d7e7;
  color: #fff;
}

/* キャラクターの形の選択肢 */
/* キャラクターの選択肢のフレーム */
.shapes {
  width: 100%;
  align-self: center;
}
/*キャラクターのスタイル*/
.shape_content {
  display: inline-block;
}
/* カーソルがホバーしたとき */
.shape_content:hover {
  opacity: 0.75;
}
/*選択されているキャラクターのスタイルを変える*/
.shapes input:checked + .shape_content {
  filter: drop-shadow(5px 5px 5px #aaa);
}
.shapes > div {
  display: inline-flex;
  flex-direction: column;
}
.shape0 {
	width: 128px;
	height: 128px;
  background-image: url(../img/unchi_character.png);
  background-size: 1024px 1024px;
  background-position: -128px 0px;
}
.shape1 {
	width: 128px;
	height: 128px;
  background-image: url(../img/unchi_character.png);
  background-size: 1024px 1024px;
  background-position: -128px -128px;
}
.shape2 {
	width: 128px;
	height: 128px;
  background-image: url(../img/unchi_character.png);
  background-size: 1024px 1024px;
  background-position: -128px -256px;
}
.shape3 {
	width: 128px;
	height: 128px;
  background-image: url(../img/unchi_character.png);
  background-size: 1024px 1024px;
  background-position: -128px -384px;
}
.shape4 {
	width: 128px;
	height: 128px;
  background-image: url(../img/unchi_character.png);
  background-size: 1024px 1024px;
  background-position: -128px -512px;
}
.shape5 {
	width: 128px;
	height: 128px;
  background-image: url(../img/unchi_character.png);
  background-size: 1024px 1024px;
  background-position: -128px -640px;
}
.shape6 {
	width: 128px;
	height: 128px;
  background-image: url(../img/unchi_character.png);
  background-size: 1024px 1024px;
  background-position: -128px -768px;
}
.shape7 {
	width: 128px;
	height: 128px;
  background-image: url(../img/unchi_character.png);
  background-size: 1024px 1024px;
  background-position: -128px -896px;
  display: none;
}

/* カラーパレットの色の選択肢 */
/*カラーパレットのフレームのスタイル*/
.color_pallets {
  width: 100%;
  align-self: center;
}
/*カラーパレットのスタイル*/
.color_content {
  margin: 30px 20px;
  padding: 7%;
  border-radius: 50%;
  display: inline-block;
}
.color_content:hover {
  opacity: 0.75;
}
/*選択されているパレットのスタイルを変える*/
.color_pallets input:checked + .color_content {
  border: solid 3px;
  color: rgb(0, 0, 0);
}
#color0 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #daa520;
}
#color1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #783c1d;
}
#color2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #583822;
}
#color3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #c9171e;
}
#color4 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #0d0015;
}
#color5 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #dcdddd;
}
#color6 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #00552e;
}
#color7 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

/* 量の選択肢 */
/*量のフレームのスタイル*/
.amounts {
  width: 100%;
  align-self: center;
  font-size: 20px;
}
/*量選択肢のスタイル*/
.amount_content {
  width: 300px;
  margin-bottom: 10px;
  padding: 12px 24px;
  display: inline-block;
  cursor: pointer;
  border: solid 1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  color: black;
  background-color: white;
}
.amount_content:hover {
  opacity: 0.75;
}
/*選択されている量のスタイルを変える*/
.amounts input:checked + .amount_content {
  filter: drop-shadow(3px 3px 3px #aaa);
  font-size: 20px;
}

/* キャラクター紹介 */
.character_guide_wrapper {
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
}
.character_guide_wrapper h2 {
  margin-bottom: 30px;
}
/* テーブル全体 */
.character_guide_table {
  display: inline-block;
  margin-bottom: 200px;
}
/* カーソルがホバーしたとき */
.character_guide_table tr:hover {
  color: #29d7e7;
  opacity: 0.75;
}
.shape_img {
  margin: 0 20px;
  display: inline-block;
}
/* キャラクターの説明文 */
.gude_text {
  width: 70%;
  vertical-align: middle;
  border-bottom: solid 1px black;
}

/* -------------------- 結果ページ -------------------- */
.result_wrapper {
  height: auto;
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 150px;
  text-align: center;
}
/* 評価結果の全体フレーム */
.result_texts_frame {
  padding-top: 30px;
  padding-right: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 18px;
}
.result_frame a {
  display: inline-block;
}
/* コメント全体フレーム */
.comment_frame {
  width: 80%;
  margin-top: 50px;
  padding: 20px 0;
  display: inline-block;
  background-color: rgba(222, 184, 135, 0.685);
  border-radius: 4px;
}
/* コメントフレームの中身 */
.comment {
  display: inline-block;
  text-align: left;
  font-size: 17px;
  line-height: 1.4em;
}
.comment_left {
  vertical-align: top;
}
.comment_right {
  width: 85%;
}


/* -------------------- ログページ -------------------- */
.unchilog_wrapper {
  height: auto;
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
}
/* キャンバスのスタイル */
.canvas-container {
  position: relative;
  width:  calc(100% - 40px);
  height: 350px;
  display: inline-block;
  text-align: center;
}
/*ラジオボタンを全て消す*/
.selecters input {
  display: none;
}
/* ラベルのスタイル */
.selecters label {
  width: 150px;
  margin: 25px 0;
  padding: 12px 24px;
  display: inline-block;
  cursor: pointer;
  border: solid 0.5px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
/* 選択されているラベルのスタイルを変更 */
.selecters input:checked + label {
  margin-top: 28px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}

/* -------------------- 参考文献一覧ページ -------------------- */
.references_wrapper {
  height: auto;
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
}
/* 箇条書きのフレーム */
.references_left {
  padding-bottom: 120px;
  display: inline-block;
}
/* 箇条書きのスタイル */
.references_left p {
 text-align: left;
 font-size: 18px;
}
/*キャラクターのフレーム */
.references_right {
  display: inline-block;
  vertical-align: bottom;
}
/* キャラクターの画像 */
.references_right a {
  margin-left: 20px;
  width: 256px;
  height: 256px;
  pointer-events: none;
  display: inline-block;
  background-image: url(../img/unchi_character.png);
  background-size: 2048px 2048px;
  background-position: -256px -768px;
}



/* -------------------- 特別設定 -------------------- */


/* 赤ちゃんのアカウント */
.hardness {
  display: none;
}

/* 表示切り替え */
.display {
  display: inline-block;
}
.no_display {
  display: none;
}