/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  /* -------------------- カレンダーページ -------------------- */
  /* 日付をクリックしたときのポップアップ */
  .popup_inner {
    width: 70%;
  }

  /* -------------------- キャラクター作成ページ -------------------- */
  /* キャラクタフォーム全体 */
  .character_form_inner {
    width: 90%;
  }
  /* キャラクターフレーム */
  .character_frame {
    margin-top: auto;
  }
  /*タブ切り替え全体のスタイル*/
  .tabs {
    width: 90%;
  }
  /* -------------------- 結果ページ -------------------- */
  .comment_frame {
    width: 90%;
  }
}



/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  /* -------------------- カレンダーページ -------------------- */
  /* 日付をクリックしたときのポップアップ */
  .popup_inner {
    width: 85%;
    padding: 10px;
    text-align: center;
  }
  .popup_inner_text {
    width: 210px;
    margin-bottom: 0;
    text-align: left;
  }
  .change_character {
    margin-bottom: 10px;
  }

  /* -------------------- キャラクター作成ページ -------------------- */
  /* キャラクタフォーム全体 */
  .character_form_inner {
    width: auto;
  }
  /* キャラクターフレーム */
  .character_frame {
    margin-top: auto;
  }
  /*タブ切り替え全体のスタイル*/
  .tabs {
    width: 100%;
  }

  /* -------------------- 結果ページ -------------------- */
  .comment_frame {
    width: 100%;
  }
  .comment_left p {
    margin: 0;
  }

  /* -------------------- ログページ -------------------- */
  /* キャンバスのスタイル */
  .canvas-container {
    height: 250px;
  }
}